<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyJLWygFQj8Z5QTg2YX4iGkKFA7v21i9k</string>
	<key>GCM_SENDER_ID</key>
	<string>678462902997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.bagussubagja.movida-app</string>
	<key>PROJECT_ID</key>
	<string>movida-app-42b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>movida-app-42b9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678462902997:ios:5c1920e6f7d4bca04f085c</string>
</dict>
</plist>